.LOGIN_window
{
font-family: cursive;
background-color: rgb(23, 33, 43);
opacity: 1;
}
/*контейнер с полями ввода и кнопками (центрирование и оцтупы)*/
.LOGIN_main_box {
  background-color: rgb(33, 45, 57);
  background-size: 50px 50px;
  border-radius: 15px;
  padding: 100px 100px 100px 100px;
  color: white;
}

.LOGIN_text_next_logo
{
  margin-top: 5px;
  color: white;
  font-size: 30px;
}

.LOGIN_button {
  margin-top: 15px;
  box-shadow: 0px 0px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, rgb(245, 198, 131) 5%, rgb(237, 179, 97) 100%);
  background-color:rgb(237, 179, 97);
  border-radius:5px;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.LOGIN_button:hover {
  background:linear-gradient(to bottom, rgb(237, 179, 97) 5%,rgb(245, 198, 131) 100%);
  background-color:#019ad2;
}

.LOGIN_text_under_logo{
  margin-bottom: 15px;
}

.LOGIN_create_account_button
{
  font-size: 10px;
  color: white;
}
.LOGIN_create_account_button:hover{
  color: grey;
}
.LOGIN_create_account_text{
    font-size: 10px;
    color: white;
}
/*.button_entry:active {
  position:relative;
  top:1px;
}*/
/*ввод логина и пароля*/


/*.myButton {
  box-shadow:inset 0px 0px 15px 3px #23395e;
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color:#2e466e;
  border-radius:17px;
  border:1px solid #1f2f47;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:fantasy;
  font-size:17px;
  padding:5px 26px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color:#415989;
}
.myButton:active {
  position:relative;
  top:1px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: fuchsia;} 
.button2 {background-color: #008CBA;}  Blue */

