
/*LOGIN FORM*/

/*main window*/
.window_login{
  background-color: rgb(22, 33, 44);
}

.fixed_login
{
  background-color: rgb(22, 33, 44);
}
<<<<<<< HEAD
.button_entry {
  /*margin-left: 15%;
  margin-top: 3%;
  */
  box-shadow: 0px 0px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, rgb(245, 198, 131) 5%, rgb(237, 179, 97) 100%);
  background-color:rgb(237, 179, 97);
  border-radius:5px;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
=======

.button_login
{
  background:rgb(236, 179, 107);
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
>>>>>>> 5f043e48afd5dc6578595fb068ff1d22b06fbe0d
}

.button_login:hover
{
  border: #ffffff;
}




/*.button_entry:active {
  position:relative;
  top:1px;
}*/
/*ввод логина и пароля*/


/*.myButton {
  box-shadow:inset 0px 0px 15px 3px #23395e;
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color:#2e466e;
  border-radius:17px;
  border:1px solid #1f2f47;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:fantasy;
  font-size:17px;
  padding:5px 26px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color:#415989;
}
.myButton:active {
  position:relative;
  top:1px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: fuchsia;} 
.button2 {background-color: #008CBA;}  Blue */

