headerbar{
  min-height: 26px;
  padding-left: 8px;
  background: transparent;
  border-color: transparent;
  /* Name of the window */
  color: transparent;
  font-size: 13px;
  font-family: 'Helvetica Neue';
}

#close{
  -gtk-icon-size: 12px;
}
#minimize{
  -gtk-icon-size: 12px;
}
#maximize{
  -gtk-icon-size: 12px;
}

/*MAIN WINDOW*/
.AUTH_window
{
  font-family: cursive;
  background-image: linear-gradient(to right, #212D38 27.5%, rgb(22, 33, 44) 25%, rgb(22, 33, 44) 75%);
  border-radius: 10px;
  border-color: #ffffff;
  opacity: 1;
}

/*Container with user avatar left-side main window*/
#search_field {
  background: #BEBEBE;
  border:none;
  border-radius: 20px;
  margin-left: 10px;
  min-height: 28px;
}

#home_icon {
  -gtk-icon-size: 22px;
  margin-left: 12px;
}

#settings_icon{
  -gtk-icon-size: 22px;
  margin-left: 12px;
}

#recent_text {
  font-family: Arial, asns-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}

#left_panel {
  border-color: transparent;
  background: transparent;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 8px;
}

/* Add chat container */
#create_chat_group_name_text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #C0C0C0;
  margin-top: 10px;
}

#add_member_text{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #C0C0C0;
  margin-top: 5px; 
}

#input_field_add_group{
  border-radius: 10px;
}

scrolledwindow {
  background: transparent;
}

#right_panel{
  color: white;
  font-size: 20px;
  font-family: 'Bradley Hand';
  min-height: 100px;
  min-width: 828px;
}

#right_scroll{
  background-color: red;
}

#add_chat{
  font-size: 30px;
  font-weight: 700;
  padding: 1px 1px 1px 1px;
  background: #212D38;
  color: white;
  border-color: transparent;
}

#submit_button {
  background:rgb(236, 179, 101);
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  border: 10px;
  border-radius: 10px;
}

/*MAIN AUTH BUTTON HOVER*/
#submit_button:hover {
  background:rgb(237, 168, 74);
}

#chat_box{
  margin-left: -5px;
}

#change_data_right_box
{
  background: red;
  padding: 15px 10px 20px;
  border-radius: 10px;
}
